@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Lexend', system-ui, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: #ffffff;
  background-color: #0E0E0E;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}
